<html>
    <head>
        <title>SKIN-APP</title>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/static/style/style.css" rel="stylesheet" media="screen">
    <link href="/static/style/dropdown.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
<!-- Shell -->
<div id="shell">
                <h1>&nbsp;SKIN-APP&nbsp;<span class="fa fa-magnet" aria-hidden="true"></span></h1>

<!-- Header -->
	<div id="header">
		
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
{% if user.is_superuser %}
<span class="tooltip"><a href="/add_movie"><span class="fa fa-plus btn3" aria-hidden="true" ></span></a>
  <span class="tooltiptext">Add movies</span>
</span>
&nbsp;


            
           {% endif %}
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}

        <form method="POST" action="/accounts/registration/" style="float:right;">
            <input type="submit" value="signup" id="registration" >
            <input type="hidden" value="go_regis" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>
{% endif %}
	<!-- Sub-menu -->
		<div id="sub-navigation">
			<div class="container">
  <a href="/">HOME</a>
  <div class="dropdown">
    <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">MOVIES</button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/show_all">SHOW ALL</a>
      <a href="/movie_release">RELEASED</a>
      <a href="/most_comment">MOST COMMENTED</a>
      <a href="/top_rate">TOP RATED</a>
    </div>
  </div> 
</div>
  <a href="/movie_comming">COMING SOON</a>
			</div>
<!-- end Sub-Menu -->
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>

</div>
	<!-- end Header -->
<br>

<!-- Box -->
<div class="box">  
<div class="head">
	<h1>ริดลี่ย์ สก็อตต์เผยว่าโปรเจค Alien 5 ถูกพับโครงการไปแล้ว</h1>
<br><br>
<center><img src="https://i.ytimg.com/vi/c_sBgmjyecM/maxresdefault.jpg" width=600px></center>
  </div>
<br><br>
     <p>&emsp;ย้อนกลับไปเมื่อช่วงปี 2015 ผู้กำกับนีล บลูแคมป์ได้ออนไลน์ภาพงานออกแบบของโปรเจคหนังเอเลี่ยนที่ใช้ชื่ออย่างไม่เป็นทางการว่า Alien Xeno ออกมาบนอินสตราแกรมส่วนตัวของเขาครับ โดยภาพชุดดังกล่าวเป็นภาพงานออกแบบฉากต่างๆ รวมไปถึงตัวละครหลักอย่างเอเลน ริบลี่ย์ที่รับบทโดยซิกเกอร์นี่ย์ วีเวอร์และจ่าฮิคก์ที่รับบทโดยไมเคิล บีห์น ต่อมาหลังจากที่ภาพเหล่านี้เผยแพร่ออกไป ทำให้เกิดกระแสเรียกร้องให้มีการสร้างภาคต่อในหมู่แฟนๆจนกระทั่งทางฟอกส์ได้เรียกนีลเข้าไปเจรจาและได้รับไฟเขียวให้สร้างในที่สุด ตัวหนังได้รับชื่ออย่างไม่เป็นทางการว่า Alien 5 และวางตัวให้ริดลี่ย์ สก็อตต์มาทำหน้าที่อำนวยการสร้าง แต่โปรเจคก็มีอันต้องชะลอออกไปเพราะว่าเรื่องราวของหนัง Alien: Covernant ที่กำกับโดยสก็อตต์ไปสร้างทฤษฎีใหม่ที่มีผลกระทบกับเรื่องราวใน Alien 5 ทำให้จนตอนนี้ก็ยังไม่มีความคืบหน้าของโครงการแต่อย่างใดครับ</p>
<br>
     <p>&emsp;แต่ล่าสุดกับเวลาที่เหลืออีกเพียงอาทิตย์นิดๆก่อนที่ Alien: Covernant จะเข้าฉาย ทาง Allocine ได้มีโอกาสพูดคุยกับผู้กำกับริดลี่ย์ สก็อตต์ และได้ถามถึงโครงการหนัง Alien 5 ของบลูแคมป์ ซึ่งทางสก็อตต์ได้บอกว่าสิ่งที่น่าตกใจว่าโปรเจคนี้ถูกพับไปแล้วครับ โดยเขาบอกว่า...</p>
<br>
     <p>&emsp;"มันไม่เคยถูกร่างบทขึ้นมาเลย มีเพียงเอกสารที่เกี่ยวข้องไม่กี่หน้าและเดิมผมถูกวางตัวไว้ให้เป็นผู้อำนวยการสร้าง แต่มันก็ไม่ได้มีการริเริ่มอะไรเลย ทางฟอกส์ได้ตัดสินใจว่าพวกเขาจะไม่ทำมันและจบโครงการไว้แค่นี้ ผมได้สร้าง Prometheus ไว้แล้วและมีแผนสำหรับ Covernant นอกเหนือจากนั้นผมไม่ทราบอะไรเลย"</p>
<br>
     <p>&emsp;และจากที่ให้สัมภาษณ์อย่างนั้น ทางนักข่าวก็ยังคงขยี้ประเด็นนี้ต่อว่าและโปรเจคนี้จะกลับมาดำเนินการต่อหรือปล่าว ทางสก็อตต์ตอบเพียงสั้นๆว่า..."ผมคิดว่าคงไม่แล้วล่ะ"</p>
<br>
<p>ได้รู้อย่างงี้แล้ว น่าเสียดายเหมือนกันนะครับ ตอนที่รู้ข่าวการประกาศสร้าง ผมนี่ตื่นเต้นมาก คิดดูว่าจะได้ดูหนังเอเลี่ยนแนวๆเดียวกับ District 9 หรือ Elysium คงจะเจ๋งไม่ใช่น้อย แต่ตอนนี้เราทำได้เพียงแค่รอให้ถึงอาทิตย์หน้าและซื้อตั๋วเข้าไปดู Alien: Covernant เท่านั้นครับ</p>
</div>
<!--END Box -->
<br><br>
<footer>Copyright &copy; Cpr.E KMUTNB</footer>
</div>
<!-- end Shell -->

    </body>
</html>
