<html>
    <head>
        <title>SKIN-APP</title>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/static/style/style.css" rel="stylesheet" media="screen">
    <link href="/static/style/dropdown.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
<!-- Shell -->
<div id="shell">
                <h1>&nbsp;SKIN-APP&nbsp;<span class="fa fa-magnet" aria-hidden="true"></span></h1>

<!-- Header -->
	<div id="header">
		
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
{% if user.is_superuser %}
<span class="tooltip"><a href="/add_movie"><span class="fa fa-plus btn3" aria-hidden="true" ></span></a>
  <span class="tooltiptext">Add movies</span>
</span>
&nbsp;


            
           {% endif %}
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}

        <form method="POST" action="/accounts/registration/" style="float:right;">
            <input type="submit" value="signup" id="registration" >
            <input type="hidden" value="go_regis" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>
{% endif %}
		<!-- Sub-menu -->
		<div id="sub-navigation">
			<div class="container">
  <a href="/">HOME</a>
  <div class="dropdown">
    <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">MOVIES</button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/show_all">SHOW ALL</a>
      <a href="/movie_release">RELEASED</a>
      <a href="/most_comment">MOST COMMENTED</a>
      <a href="/top_rate">TOP RATED</a>
    </div>
  </div> 
</div>
  <a href="/movie_comming">COMING SOON</a>
			</div>
<!-- end Sub-Menu -->
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>

</div>
	<!-- end Header -->
<br>

<!-- Box -->
<div class="box">  
<div class="head">
	<h1>ซีซาร์ลุกขึ้นสู้ในตัวอย่างแรกของ War for the Planet of the Apes</h1>
<br><br>
<center><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNWZmZTI4OWMtMjcwZi00OTgxLWI3NTYtYjUyOWRiMjIyOTJjL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_.jpg" width=600px></center>
  </div>
<br><br>
     <p>&emsp;20th Century Fox ปล่อยตัวอย่างแรกของ War for the Planet of the Apes ออกมาแล้วครับ</p>
<br>
     <p>&emsp;War for the Planet of the Apes คือภาคที่ 3 ของการยกเครื่องหนังตระกูลพิภพวานร จากเนื้อหาในตัวอย่าง ซีซาร์ยังคงปกครองเหล่าวานรและพยายามแสวงหาสันติสุข แต่ในขณะเดียวกันเขาก็ต้องรับมือกับสงครามที่ไม่ได้เป็นผู้ริเริ่ม เราจะได้เห็นการทำสงครามกลางเมืองระหว่างวานรและมนุษย์ที่นำทัพโดยตัวละครของวู๊ดดี้ ฮาร์เรลสัน พร้อมทั้งประเด็นการแปรกพักต์ภายในเผ่าพันธุ์วานรด้วยกันเอง และที่น่าสนใจคือในช่วงท้ายตัวเองอย่าง ซีซาร์ถึงขั้นลุกขึ้นสู้กับมนุษย์ทั้งๆที่ 2 ภาคก่อนหน้าเขาพยายามหลีกเลี่ยงการปะทะตลอด</p>
<br>
<p>War for the Planet of the Apes - มหาสงครามพิภพวานร เข้าฉาย 13 กรกฎาคมปีนี้ครับ</p>
</div>
<!--END Box -->
<br><br>
<footer>Copyright &copy; Cpr.E KMUTNB</footer>
</div>
<!-- end Shell -->

    </body>
</html>
