<html>
    <head>
        <title>SKIN-APP</title>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/static/style/style.css" rel="stylesheet" media="screen">
    <link href="/static/style/dropdown.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/png" href="https://cdn3.iconfinder.com/data/icons/movie-video/512/Icon_16-512.png"/>
    </head>

    <body>
<!-- Shell -->
<div id="shell">
             <div class="logo">&nbsp;<br><br><br>{% if user.is_authenticated %}
        
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
{% if user.is_superuser %}
<span class="tooltip"><a href="/add_movie"><span class="fa fa-plus btn3" aria-hidden="true" ></span></a>
  <span class="tooltiptext">Add movies</span>
</span>
&nbsp;


            
           {% endif %}
            <input class="regist" type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </p>
</form>
{% else %}

        <form method="POST" action="/accounts/registration/" style="float:right;">
            <input class="regist" type="submit" value="signup" id="registration" >
            <input type="hidden" value="go_regis" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            Welcome, new user. Please 
            <input class="regist" type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>
{% endif %}</div>


<!-- Header -->
	<div id="header">

<!-- Sub-menu -->
		<div id="sub-navigation">
			<div class="container">
  <a href="/">HOME</a>
  <div class="dropdown">
    <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">MOVIES</button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/show_all">SHOW ALL</a>
      <a href="/movie_release">RELEASED</a>
      <a href="/most_comment">MOST COMMENTED</a>
      <a href="/top_rate">TOP RATED</a>
    </div>
  </div> 
</div>
  <a href="/movie_comming">COMING SOON</a>
			</div>
<!-- end Sub-Menu -->
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>

</div>
	<!-- end Header -->
<br>

<!-- Box -->
<div class="box">  
<div class="head">
	<h1>ตัวอย่างแรกของหนังสยองขวัญรีเมค IT</h1>
<br><br>
<center><img src="https://i.ytimg.com/vi/fh8FLnFQj3o/maxresdefault.jpg" width=600px></center>
  </div>
<br><br>
     <p>&emsp;เมื่อคืนนี้ทางนิวไลน์ ซีนีม่า ได้ออนไลน์ตัวอย่างซับไทยของหนังสยองขวัญรีเมค IT ออกมาทางยูทูปครับ ทีแรกผมก็ไม่ได้คิดอะไร กะว่าจะกดดูแบบผ่านๆ แต่เมื่อได้ดูตัวอย่างแล้วถึงกับตาสว่าง ขนลุกและรู้สึกหลอนก่อนนอนไปเลย เพราะเดิมทีผมไม่รู้จักหนังเรื่องนี้ในฉบับเก่า เห็นแค่ใบปิดผ่านๆและมันดูตลกเอามากๆ เพราะหนังนำเอาตัวตลกมาเป็นตัวร้าย ซึ่งผมก็ไม่รู้อีกแหละว่าเจ้าตัวตลกตัวนี้เป็นผี ปีศาจ หรือฆาตกรโรคจิตกันแน่ แต่พอได้มาเห็นตัวอย่างนี้ก็ได้คำตอบและลองมาหาข้อมูลเพิ่มเติม กลายเป็นว่าหนังเรื่องนี้อยู่ในลิสต์หนังที่อยากดูไปอีกเรื่องเลยครับ</p>
<br>
     <p>&emsp;IT มีฉากหลังเป็นเมืองเล็กๆที่ชื่อว่าเดอร์รี่ เมืองที่มีสถิติคนหายมากที่สุดโดยเฉพาะเด็กๆ(หายบ่อยถึงขนาดที่ในฉากหนึ่งของตัวอย่างมีการประกาศเคอร์ฟิวในเวลากลางคืน) ตัวหนังจะดำเนินเรื่องราวผ่านกลุ่มเด็กๆที่ต้องเผชิญหน้ากับปีศาจตัวตลกที่ใช้ความกลัวที่สุดของเด็กแต่ละคนมาเล่นงานพวกเขา ยิ่งฉากฉายสไลด์ในตัวอย่างนี้ โคตรหลอนอ่ะครับ</p>
<br>
<p>IT ได้ชื่อไทยว่า อิท โผล่จากนรก วางกำหนดฉายในไทยวันที่ 7 กันยายนนี้</p>
</div>
<!--END Box -->
<br><br>
<footer>Copyright &copy; Cpr.E KMUTNB</footer>
</div>
<!-- end Shell -->

    </body>
</html>
