<html>
    <head>
        <title>Movie Rate App</title>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/static/style/style.css" rel="stylesheet" media="screen">
    <link href="/static/style/dropdown.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
<!-- Shell -->
<div id="shell">
        <h1>Movie Rate</h1>

<!-- Header -->
	<div id="header">
		
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
{% if user.is_superuser %}
<span class="tooltip"><a href="/add_movie"><span class="fa fa-plus btn3" aria-hidden="true" ></span></a>
  <span class="tooltiptext">Add movies</span>
</span>
&nbsp;


            
           {% endif %}
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}

        <form method="POST" action="/accounts/registration/" style="float:right;">
            <input type="submit" value="signup" id="registration" >
            <input type="hidden" value="go_regis" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>
{% endif %}
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="/">HOME</a></li>
			    <li><a href="/movie_now">IN THEATERS</a></li>
			    <li><a href="/movie_comming">COMING SOON</a></li>
			</ul>

		</div>
		<!-- end Navigation -->
<!-- Sub-menu -->
		<div id="sub-navigation">
			<div class="container">
  <a href="/show_all">SHOW ALL</a>
  <a href="/last_movie">LATEST TRAILERS</a>
  <a href="/top_rate">TOP RATED</a>
  <a href="/most_comment">MOST COMMENTED</a>
</div>
			</div>
		<!-- end Sub-Menu -->

</div>
	<!-- end Header -->
<br>

<!-- Box -->
<div class="box">  
<div class="head">
	<h1>ยังไงกันแน่ เมื่อฮิวจ์ แจ็คแมนบอกว่า Logan ไม่ได้อยู่ในจักรวาลเดียวกับ X-Men</h1>
<br>
<center><img src="http://media.comicbook.com/2016/10/loganmovie-205309.png" width=600px></center>
  </div>
<br>
     <p>&emsp;ที่บอกว่ายังไงกันแน่ก็เพราะก่อนหน้านี้ทางผู้กำกับเจมส์ แมนโกล์ดได้ให้ข้อมูลว่า Logan หนังภาคแยกของวูลฟ์เวอรีนลำดับที่ 3 จะเป็นเรื่องราวต่อจากภาค Days of Future Past แต่ล่าสุดกับบทสัมภาษณ์ของฮิวจ์ แจ็คแมนก็ต้องทำให้แฟนๆงงกันอีก เนื่องจากเจ้าตัวได้ให้สัมภาษณ์กับทาง Digital Spy ว่าหนังเรื่องนี้จะไม่เกี่ยวข้องกับจักรวาลของ X-Men และเป็นหนังแบบฉายเดี่ยวของวูลฟ์เวอรีนไปเลย โดยทางแจ็คแมนได้บอกว่า....</p>
<br>
     <p>&emsp;"ผมและจิม(ชื่อเล่นผู้กำกับ)ได้มีพื้นที่ว่างและเราอยากที่จะสร้างบางสิ่งที่แตกต่างออกไปจริงๆแบบที่แตกต่างออกไปอย่างสิ้นเชิง ผมได้แต่คิดถึงหนัง The Wrestler และ Unforgiven ส่วนเขาก็คิดถึงหนัง Unforgiven และ The Gauntlet และหนังที่ว่านี้มันดูเข้ากันได้กับตัวละครวูลฟ์เวอรีน ก่อนหน้านี้เรามีความคิดว่าจะให้หนังเรื่องนี้ไม่มีชื่อวูลฟ์เวอรีนอยู่ในนั้น แต่จะสร้างเรื่องราวเน้นไปที่ตัวเขาและอะไรคือสิ่งที่ส่งผลกระทบที่เขาจะต้องเจอในชีวิตนี้"</p>
<br>
     <p>&emsp;แจ็คแมนเสริมว่า "มันเป็นหนังแยกออกมาแบบเดี่ยวๆ มันไม่ใช่หนังที่ซึมซับอะไรจากไทม์ไลน์หรือเรื่องราวของ X-Men ภาคอื่น แน่นอนว่าเรามีแพทริค สจ๊วตอยู่ในหนังเรื่องนี้ มันเลยทำให้เรื่องราวดูมีการเชื่อมโยงกันอยู่หน่อยนึง แต่ถึงอย่างนั้นแล้วมันก็ให้ความรู้สึกที่แตกต่างออกไปและใหม่เอามากๆ"</p>
<br>
     <p>&emsp;"อันที่จริงแล้วมันไม่ช่วยบอกเล่าเรื่องราวสักเท่าไร มันดูกระจัดกระจายเอามากๆซึ่งผมก็ไม่ได้กังวลในส่วนนั้นะ X-Men เป็นหนังเรื่องแรกที่สร้างจากการ์ตูน ไม่มีใครคิดหรอกว่ามันจะมีภาคต่อ จะมีใครคนอืนมากำกับหรือถ่ายทำภาคอื่นกันอีก และเมื่อคุณได้ดูหนังเรื่องนี้ทั้งหมด คุณจะเข้าใจได้เอง มันเป็นจักรวาลเรื่องราวที่แตกต่างออกไปเล็กน้อยไม่เพียงแต่ความแตกต่างของเรื่องราวและโทนเนื้อเรื่อง มันจะเป็นแบบอย่างที่แตกต่างและเสร็จในตัวมันเอง"</p>
<br>
     <p>&emsp;จากบทสัมภาษณ์ ผมมองว่าหนังเรื่องนี้มันยังอยู่ในจักรวาลเรื่องราวเดียวกับ X-Men นะ เพียงแต่ว่าทางแจ็คแมนอยากให้เรามองไปที่ความแตกต่างของเรื่องราวมากกว่าที่จะมาซีเรียสกับการเชื่อมต่อกับภาคอื่น ซึ่งล่าสุดหลังจากที่บทสัมภาษณ์ของแจ็คแมนเปิดเผยออกมา ก็มีแฟนในทวิตเตอร์ได้ทวิตข้อความถึงเจมส์ แมนโกล์ดว่าสรุปแล้วหนัง Logan จะอยู่ในจักรวาลหรือไม่กันแน่ ทางเจมส์ก็ได้ตอบกลับว่าอยู่แน่นอนครับ โดยตัวหนังจะดำเนินเรื่องในช่วงปี 2029 ตามไทม์ไลน์ของหนัง X-Men</p>
<br>
<p>Logan วางกำหนดฉายในบ้านเรา 2 มีนาคมนี้</p>
</div>
<!--END Box -->

<footer>Copyright &copy; Cpr.E KMUTNB</footer>
</div>
<!-- end Shell -->

    </body>
</html>
