<html>
    <head>
        <title>SKIN-APP</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <link href="/static/style/style.css" rel="stylesheet" media="screen">
    <link href="/static/style/dropdown.css" rel="stylesheet" media="screen">
<link rel="shortcut icon" type="image/png" href="https://cdn3.iconfinder.com/data/icons/movie-video/512/Icon_16-512.png"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
            $(document).ready(function() {
                  $("#id_new_date").datepicker({ dateFormat: 'yy-mm-dd' });
            });
        </script>


    </head>
    <body>

<!-- Shell -->
<div id="shell">
        <div class="logo">&nbsp;<br><br><br>{% if user.is_authenticated %}
        
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
{% if user.is_superuser %}
<span class="tooltip"><a href="/add_movie"><span class="fa fa-plus btn3" aria-hidden="true" ></span></a>
  <span class="tooltiptext">Add movies</span>
</span>
&nbsp;


            
           {% endif %}
            <input class="regist" type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </p>
</form>
{% else %}

        <form method="POST" action="/accounts/registration/" style="float:right;">
            <input class="regist" type="submit" value="signup" id="registration" >
            <input type="hidden" value="go_regis" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            Welcome, new user. Please 
            <input class="regist" type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>
{% endif %}</div>

<!-- Header -->
	<div id="header">

	<!-- Sub-menu -->
		<div id="sub-navigation">
			<div class="container">
  <a href="/">HOME</a>
  <div class="dropdown">
    <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">MOVIES</button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/show_all">SHOW ALL</a>
      <a href="/movie_release">RELEASED</a>
      <a href="/most_comment">MOST COMMENTED</a>
      <a href="/top_rate">TOP RATED</a>
    </div>
  </div> 
</div>
  <a href="/movie_comming">COMING SOON</a>
			</div>
<!-- end Sub-Menu -->
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
		

</div>
	<!-- end Header -->


<h12 align="center">Add Movie</h12>
<br>
  {% if user.is_superuser %}

<center>
        <form method="POST" action="/">
<table>
<tr><td>Name<h style="color:red">*</h>:   
</td><td><input style="width:360px;"class="addm" name="name_text" id="id_new_name" placeholder="New Movie Name" required
    oninvalid="this.setCustomValidity('Please Enter the movie name')"
    oninput="setCustomValidity('')"/>
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Release&nbsp;Date:&nbsp;&nbsp;&nbsp; 
</td><td><input style="width:160px;" class="addm" name="date_text" id="id_new_date" placeholder="Add Release Date">
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Lead&nbsp;Actors:    
</td><td><input style="width:170px;" class="addm" name="actor_text" id="id_new_actor" placeholder="Add Lead Actors" />
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Director:    
</td><td><input style="width:170px;" class="addm" name="director_text" id="id_new_director" placeholder="Add Director" />
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Genre:    
</td><td><input class="addm" name="genre_text" id="id_new_genre" placeholder="Add Type Of Movie" />
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Detail:    
</td><td><textarea class="addm" style="width:450px; resize:none;" name="detail_text" id="id_new_detail" placeholder="Tell about story" rows="7" cols="70"/></textarea>
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Image&nbsp;URL:    
</td><td><input style="width:450px;" class="addm" name="poster_url" id="id_new_pic" placeholder="Add url format .jpg , .png , .gif"/>
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Picture Detail:  
</td><td><textarea class="addm" style="width:450px; height:65px; resize:none;" name="pic_url" id="id_new_picture" placeholder="Add Picture url use spacebar for many picture eg. www.1.jpg www.2.jpg"  rows="7" cols="70" /></textarea>
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Clip&nbsp;URL:    
</td><td><input style="width:450px;" class="addm"  name="clip_url" id="id_new_clip" placeholder="Trailer clip eg. https://www.youtube.com/embed/fis-9Zqu2Ro" />
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
<form method="POST" action="/">
            <input type="submit" value="< Back" class="rate" id="back" >
            <input type="hidden" value="Back_send" name="back_send" >
	    <br>
            {% csrf_token %}
        </form> 
</td><td>  <input type="submit" value="Add Moive" class="rate" id="submit_data"  style="float:right;">
            <input type="hidden" value="submit_send_data"  name="Add_send_Detail">
	    <br>
            {% csrf_token %} 
</td></tr>

</table>
            
        
</center>
{% else %}
<br><br><br><br><br><br><br>
<p align="center"><h12>Do Not</h12>
<br>
<h12>Enter Here</h12>
<br>
<br>please,login with superuser</p>
  {% endif %}


</div>
<br><br>
<footer>Copyright &copy; Cpr.E KMUTNB</footer> 
<!-- end Shell -->
    </body>
</html>
