<html>
    <head>
        <title>Movie Rate App</title>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script>
            $(document).ready(function() {
                  $("#id_new_date").datepicker();
            });
        </script>
    </head>
    <body>
        <h1>Add New Movie</h1>


        <form method="POST" action="/">
Name:   <input name="name_text" id="id_new_name" placeholder="New Movie Name" />
<br>
Release Date:    <input name="date_text" id="id_new_date" placeholder="Add Release Date" />
<br>
Detail:    <input name="detail_text" id="id_new_detail" placeholder="Add Details" />
<br>
Poster Image URL:    <input name="poster_url" id="id_new_pic" placeholder="Add Poster URL" />
<br>
            <input type="submit" value="Add Detail"        id="submit_data"  >
            <input type="hidden" value="submit_send_data"  name="Add_send_Detail">
	    <br>
            {% csrf_token %}
        </form>
        <form method="POST" action="/">
            <input type="submit" value="Back" id="back" >
            <input type="hidden" value="Back_send" name="back_send" >
	    <br>
            {% csrf_token %}
        </form>
    </body>
</html>
