<html>
    <head>
        <title>Movie Rate App</title>
    </head>
    <body>
        <h1>Detail of {{ movie_.name }} </h1>
<table id="id_list_table" align="center">
<tr><td>
Name: </td><td> {{ movie_.name }}</td></tr>
<tr><td>
Release Date:  </td><td>  {{ movie_.release_date }}</td></tr>
<tr><td>
Detail:  </td><td>  {{ movie_.detail }}</td></tr>
<tr><td>
Poster Image URL:  </td><td>  <img src=" {{ movie_.poster }} " width=200 ></td></tr>
<tr><td>
Add Date: </td><td>   {{ movie_.add_date }}</td></tr>
<tr><td>
Rate:  </td><td>  {{ movie_.rate }}</td></tr>
</table>

        <h2>COMMENTS</h2>
        {% if comments != None %}
            {% for comment in comments %}
                Name: {{ comment.user }}<br>
                comment: {{ comment.comment_text }}<br>
                date: {{ comment.date }}<br>
                Like: {{ comment.like }}<br>
        <form method="POST" action="/movie_detail/{{movie_.id}}/">
            <input type="submit" value="LIKE"        id="submit_like"  >
            <input type="hidden" value="submit_like"  name="send_like">
            <input type="hidden" value="{{ comment.id }}"  name="id_send_like">
            {% csrf_token %}
        </form>
<br><br>
            {% endfor %}
        {% endif%}

        <form method="POST" action="/movie_detail/{{movie_.id}}/">
            Name:<input name="user_name" id="id_user_name" placeholder="Your Name" />
            <br>
            comment:<input name="comment_text" id="id_new_date" placeholder="Comment this movie" />
            <br>
            <input type="submit" value="Comment"        id="id_comment"  >
            <input type="hidden" value="send_Comment"  name="send_comment">
	    <br>
            {% csrf_token %}
        </form>

        <form method="POST" action="/">
            <input type="submit" value="Back" id="back" >
            <input type="hidden" value="Back_send" name="back_send" >
	    <br>
            {% csrf_token %}
        </form>
         <form method="POST" action="/movie/{{movie_.id}}/edit/">
            <input type="submit" value="edit" id="Edit" >
            <input type="hidden" value="send_edit" name="send_Edit" >
	    <br>
            {% csrf_token %}
        </form>
    </body>
</html>
