<html>
    <head>
        <title>Movie Rate App</title>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <link href="/static/style/style.css" rel="stylesheet" media="screen">
        <script>
            $(document).ready(function() {
                  $("#id_new_date").datepicker({ dateFormat: 'yy-mm-dd' });
            });
        </script>
    </head>
    <body>
        <h1>Edit {{movie_.name}}</h1>

        <form method="POST" action="/movie/{{movie_.id}}/edit/">
Name:   <input name="name_text" id="id_new_name" placeholder="{{movie_.name}}" />
<br>
Release Date:    <input name="date_text" id="id_new_date" placeholder="{{movie_.release_date}}" />
<br>
Detail:    <input name="detail_text" id="id_new_detail" placeholder="{{movie_.detail}}" />
<br>
Poster Image URL:    <input name="poster_url" id="id_new_pic" placeholder="{{movie_.poster}}" />
<br>
            <input type="submit" value="Update"        id="submit_update_data"  >
            <input type="hidden" value="submit_send_update"  name="Update_send_Detail">
            <INPUT Type = "hidden" value ="{{ movie_.id }}" name = 'id_update'>
	    <br>
            {% csrf_token %}
        </form>
        <form method="POST" action="/">
            <input type="submit" value="Back" id="back" >
            <input type="hidden" value="Back_send" name="back_send" >
	    <br>
            {% csrf_token %}
        </form>
    </body>
</html>
