<html>
    <head>
        <title>Movie Rate App</title>
    </head>
    <body>
        <h1>Movie Rate</h1>
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}

        <form method="POST" action="/" style="float:right;">
            <input type="submit" value="registration" id="registration" >
            <input type="hidden" value="go_regis" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>


{% endif %}

        <form method="POST" action="/add_movie">
            <!-- <input name="name_text" id="id_new_name" placeholder="New Movie Name" /> -->
            <input type="submit" value="Add Movie" id="add_data" >
            <input type="hidden" value="send_Add Movie" name="send_add_data" >
	    <br>
            {% csrf_token %}
        </form>

        <table id="id_list_table" align="center">
            <tr>
            {% for movie in movies %}
                {% if forloop.counter|divisibleby:5 %}
                {% endif%}
                <td><a href="/movie_detail/{{ movie.id }}/" id="view_detail_pic_{{ movie.id }}"> <img src=" {{ movie.poster }} " width=200 height=300> </a><br>
                    <a href="/movie_detail/{{ movie.id }}/" id="view_detail_{{ movie.id }}" >  {{ movie.name }} </a><br>
                      {{ movie.rate }}
  
                  <FORM method="POST" action="/">
                     <INPUT Type="submit" VALUE="delete" id="button_d" >      
                     <INPUT Type = "hidden" value ="delete" name = 'delete'>
                     <INPUT Type = "hidden" value ="{{ movie.id }}" name = 'id_delete'>
                     {% csrf_token %}
                 </FORM>
                </td>
                {% if forloop.counter|divisibleby:5 %}
                </tr><tr>
                {% endif%}
            {% endfor %}
        </tr>
        </table>
    </body>
</html>
