<html>
    <head>
        <title>Movie Rate App</title>
    </head>
    <body>
        <h1>Movie Rate</h1>
        <form method="POST" action="/add_movie">
            <!-- <input name="name_text" id="id_new_name" placeholder="New Movie Name" /> -->
            <input type="submit" value="Add Movie" id="add_data" >
            <input type="hidden" value="send_Add Movie" name="send_add_data" >
	    <br>
            {% csrf_token %}
        </form>

        <table id="id_list_table" align="center">
            <tr>
            {% for movie in movies %}
                {% if forloop.counter|divisibleby:5 %}
                {% endif%}
                <td> <img src=" {{ movie.poster }} " width=200 > <br>{{ movie.name }} <br>{{ movie.rate }}
                 <form method="POST" action="/movie_detail/{{ movie.id }}/">
                     <input type="submit" value="more..." id="view_detail_{{ movie.id }}" >
                     <input type="hidden" value="send_more..." name="send_view_detail_{{ movie.id }}" >
                     {% csrf_token %}        
                 </form>
                </td>
                {% if forloop.counter|divisibleby:5 %}
                </tr><tr>
                {% endif%}
            {% endfor %}
        </tr>
        </table>
    </body>
</html>
