<html>
    <head>
        <title>SKIN-APP</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/static/style/style.css" rel="stylesheet" media="screen">
    <link href="/static/style/dropdown.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
<!-- Shell -->
<div id="shell">
 <div class="logo">&nbsp;<br><br><br>{% if user.is_authenticated %}
        
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
{% if user.is_superuser %}
<span class="tooltip"><a href="/add_movie"><span class="fa fa-plus btn3" aria-hidden="true" ></span></a>
  <span class="tooltiptext">Add movies</span>
</span>
&nbsp;


            
           {% endif %}
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </p>
</form>
{% else %}

        <form method="POST" action="/accounts/registration/" style="float:right;">
            <input type="submit" value="signup" id="registration" >
            <input type="hidden" value="go_regis" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>
{% endif %}</div>

<!-- Header -->
	<div id="header">
	
	<!-- Sub-menu -->
		<div id="sub-navigation">
			<div class="container">
  <a href="/">HOME</a>
  <div class="dropdown">
    <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">MOVIES</button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/show_all">SHOW ALL</a>
      <a href="/movie_release">RELEASED</a>
      <a href="/most_comment">MOST COMMENTED</a>
      <a href="/top_rate">TOP RATED</a>
    </div>
  </div> 
</div>
  <a href="/movie_comming">COMING SOON</a>
			</div>
<!-- end Sub-Menu -->

</div>
	<!-- end Header -->
<br><br>



<script type="text/javascript"> 

function changeNavigation(id) 

{document.getElementById('main').innerHTML=document.getElementById(id).innerHTML} 

</script>



<!-- Box -->
<div class="box">
  <div class="head">
	<h2>Show All</h2>
  </div>
<br><br>
        <table id="id_list_table" >
            <tr >
{% for movie in contacts %}
{% for ID in IDall %}
            
{% if movie.id == ID%} 
                <td>

<a href="/movie_detail/{{ movie.id }}/" id="view_detail_pic_{{ movie.id }}"> 
{% if movie.poster != "" %}
<img src=" {{ movie.poster }} " width=200 height=300>
{% else %}
<img src="http://mtdb.vebto.com/assets/images/imdbnoimage.jpg"width=200 height=300>
{% endif%} 
</a>

<br>
                    <a class="nameM" href="/movie_detail/{{ movie.id }}/" id="view_detail_{{ movie.id }}" >{{ movie.name }} </a>
                      {{ movie.rate }} 
 {% if movie.rate == 0.0 %} <!--17=0 16=0.5 15=1-->
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
{% elif movie.rate <= 0.5 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_16.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
{% elif movie.rate <= 1.0 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
{% elif movie.rate <= 1.5 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_16.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
{% elif movie.rate <= 2.0 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
{% elif movie.rate <= 2.5 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_16.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
{% elif movie.rate <= 3.0 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
{% elif movie.rate <= 3.5 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_16.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
{% elif movie.rate <= 4.0 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_17.png" width=15 height=15>
{% elif movie.rate <= 4.5 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_16.png" width=15 height=15>
{% elif movie.rate <= 5.0 %} 
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
<img src="http://png.findicons.com/files/icons/2181/34al_volume_3_2_se/24/001_15.png" width=15 height=15>
 {% endif %}

<span class="fa fa-comments icon2" aria-hidden="true" >&nbsp;{{ movie.countcom }}</span>

             {% if user.is_superuser %}

                  <FORM method="POST" action="/" align="right">
                     <INPUT type="image" src="http://www.freeiconspng.com/uploads/remove-icon-png-25.png" width=15px height=15px alt="Delete"  id="button_d" value="delete" OnClick="return confirm('Do you want to delete {{ movie.name }}?')"  > 
                     <INPUT Type = "hidden" value ="delete" name = 'delete'>
                     <INPUT Type = "hidden" value ="{{ movie.id }}" name = 'id_delete'>
                     {% csrf_token %}
                 </FORM>

                 {% endif %}
<br><br>
                </td>
           
{% endif %}
{% endfor %}
<td> &nbsp;&nbsp;&nbsp;&nbsp;</td>
{% if forloop.counter|divisibleby:5 %}
                </tr><tr>
                {% endif%}
            {% endfor %}

        </tr>
        </table>


<div class="pagination" style="float:right;">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}"><span class="fa fa-toggle-left fa-2x" aria-hidden="true" ></span></a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}&nbsp;
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}"><span class="fa fa-toggle-right fa-2x" aria-hidden="true" ></span></a>
        {% endif %}


    </span>
</div>






</div>
<!--END Box -->
<br><br>
<footer>Copyright &copy; Cpr.E KMUTNB</footer>
</div>
<!-- end Shell -->
    </body>
</html>
