<html>

<body>
<script type="text/javascript"> 

function changeNavigation(id) 

{document.getElementById('main').innerHTML=document.getElementById(id).innerHTML} 

</script>

<div align="center"><br />
&#160;&#160;<span onClick="changeNavigation('myself')"><img border="6" alt="" src="http://www.sadmuffin.net/cherrybam/graphics/icons-girly/girly112.jpg" /></span>   &#160;&#160;<span onClick="changeNavigation('talk')"><img border="6" alt="" src="http://www.sadmuffin.net/cherrybam/graphics/icons-girly/girly081.jpg" /></span><br />
<br />
<br />
&#160;&#160;<span onClick="changeNavigation('mylove')"><img border="6" alt="" src="http://www.sadmuffin.net/cherrybam/graphics/icons-girly/girly165.jpg" /></span>   &#160;&#160;<span onClick="changeNavigation('link')"><img border="6" alt="" src="http://www.sadmuffin.net/cherrybam/graphics/icons-girly/girly155.jpg" /></span><br />
<br />
<br />
&#160;&#160;<span onClick="changeNavigation('other')"><img border="6" alt="" src="http://www.sadmuffin.net/cherrybam/graphics/icons-girly/girly175.jpg" /></span>   &#160;&#160;<span onClick="changeNavigation('credit')"><img border="6" alt="" src="http://www.sadmuffin.net/cherrybam/graphics/icons-girly/girly174.jpg" /></span></div>
</div>






<div class="style11" id="main">
<p><span class="style10">H</span>E<span class="style10">L</span>L<span class="style10">O </span> !!! EVERYONE</p>
<p align="center" class="style10">WELCOME TO MY ID</p>
<p align="center" class="style10"><img alt="" border="0" src="http://www.sadmuffin.net/cherrybam/graphics/icons-girly/girly147.jpg" /></p>
<p align="left" class="style10"><marquee direction="up" scrollamount="3">ก่อนอื่นต้องขอบอกก่อนว่า....................<br />
ไอดีนี้ไม่ได้แต่งขึ้นจากความชำนาญแต่อย่างใด<br />
หากแต่แต่งขึ้นมาจากความชอบ ณ ตอนนั้น <br />
มันจึงออกมาแนวหวานๆ&gt;<br />
จริงๆแล้ว อารมณ์เราออกแนวดาร์กด้วยซ้ำ</marquee></p>
</div>
<div id="Layer5"><object width="180" height="25" align="center">
<param name="movie" value="http://www.youtube.com/v/ka8mynAvTTY?version=;autoplay=1&amp;loop=1&amp;color1=0xD3D3D3&amp;color2=0xffffff" />
<param name="allowFullScreen" value="true" />
<param name="allowscriptaccess" value="always" />     <embed src="http://www.youtube.com/v/ka8mynAvTTY?version=;autoplay=1&amp;loop=1&amp;color1=0xD3D3D3&amp;color2=0xffffff" width="180" height="25" align="right" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed>   </object></div>
<div id="Layer4"><img alt="" width="385" height="273" border="0" src="http://widget.sanook.com/static_content/full/graphic/129f9fb5d9722ff063f45a1b58315aba_1205838641.gif" /></div>




<div id="myself" style="display: none">
<p align="center"><span class="style10">----MY <span class="style14">PROFILE----</span></span></p>
<p>&#160;</p>
<div align="center"><img alt="" border="0" src="http://www.bloggang.com/data/praewkwun/picture/1226397182.gif" /></div>
<p><u>Name</u> : ZeePreaw. &lt;call me zee or preaw&gt;<br />
<u>Age</u> : 16 years old.<br />
<u>Hobby</u> : play table tennis and read book.<br />
<u>Love</u> : Death note, Dennis Joseph o'neil, Taylor Swift and Justin Timberlake.<br />
<u>Movie</u> : Death note, Red Riding Hood, suckseed, Hello Stranger<br />
<u>Song</u> : Sexyback and You belong with me.</p>
<div align="center"><img alt="" border="0" src="http://www.bloggang.com/data/praewkwun/picture/1226397182.gif" /></div>
</div>


<div id="talk" style="display: none">
<div align="center"><span class="style17">TALK</span> <span class="style19">TALK </span><span class="style20">TALK </span></div>
<p align="center">&#160;<img border="6" alt="" src="http://www.sadmuffin.net/cherrybam/graphics/graphics-about-me/about-me130.gif" /></p>
<p align="left">โดยส่วนตัวเป็นคนชอบแนว.....<br />
.....อิยิปต์ ประวัติศาสตร์ นอกโลกก็ได้ ในโลกก็ดี <br />
<br />
เราไม่ใช่ผู้หญิงหวานเหมือนไอดี ฮ่าๆๆๆ แน่นอนฉัน<span class="style21">"รั่ว"</span></p>
<p align="center"><br />
ง่ายๆ....คุยได้ทุกเรื่อง</p>
</div>





</body>
</html>
