

<html>
    <head>
        <title>Movie Rate App</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/static/style/style.css" rel="stylesheet" media="screen">
    <link href="/static/style/photobanner.css" rel="stylesheet" media="screen">
    <link href="/static/style/dropdown.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>

    </head>
    <body>

{%if movies.count > 0 %}
   {% for movie in movies %}
      <li><a href = "" >{{movie.name}}</a></li>
   {% endfor %}
{% else %}
   <li>None to show!</li>
{% endif %}


<footer>Copyright &copy; Cpr.E KMUTNB</footer>
</div>
<!-- end Shell -->


    </body>
</html>
