<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
</head>

<body>
<br><br><br><br><br><br><br><br>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">

<h1>Login</h1><br>
        <form method="post" action="/">
        <p style="color:red">{{ alarm }}</p>
                {% csrf_token %}

<table class="table">
<tr><td>
Username<h style="color:red">*</h>:
</td><td>
<input type="username" name="username" id="id_username" placeholder=""  required
    oninvalid="this.setCustomValidity('Please Enter your username')"
    oninput="setCustomValidity('')"
       class="form-control input-sm"/>
</td></tr>
<tr><td>
Password<h style="color:red">*</h>:
</td><td>
<input type="password" name="password" id="id_password" placeholder="" required
    oninvalid="this.setCustomValidity('Please Enter your password')"
    oninput="setCustomValidity('')"
       class="form-control input-sm"/>
</td></tr>
<tr><td colspan="2">
                <input type="submit" value="Log in" id="login" style="float:center;"/>
                <input type="hidden" name="send_login" value="send" />
                </form>

        <form method="POST" action="/" style="float:right;">
            <input type="submit" value="Back" id="back" >
            <input type="hidden" value="Back_send" name="back_send" >
	    <br>
            {% csrf_token %}
        </form>
</td></tr>
</table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

