<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
</head>

<body>
<br><br><br><br><br><br><br><br>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
<h1>Registration Complete</h1>
        <p>You are now registered</p>
        <form method="POST" action="/accounts/login/" style="float:right;">
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/" style="float:right;">
            <input type="submit" value="go to homepage" id="tohome" >
            <input type="hidden" value="go_home" name="submit_homepage" >
            {% csrf_token %}
            or &nbsp;
        </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
