
{% block body_block %}
<h1>Register Here</h1>
        <form method="post" action="/">
            {% csrf_token %}
        Username:<input type="username" name="username" id="id_username" placeholder="" /><br>
        e-mail:<input type="e-mail" name="email" id="id_email" placeholder="" /><br>
        Password:<input type="password" name="password1" id="id_password1" placeholder="" /><br>
        Password again:<input type="password" name="password2" id="id_password2" placeholder="" /><br>
                <input type="submit" value="Submit" />
                <input type="hidden" name="send_register" value="send" />
        </form>
{% endblock %}
